* {
  font-family: var(--font-family);
}

body {
  background-color: $bg;
  margin: 0px;
  margin-bottom: 40px;
}

h1 {
  /* responsive font (postcss-responsive-type) */
  font-size: responsive 24px 46px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: $container-width;
}
